<nav class="navbar navbar-default pb-10" id="principal-nav">
    <div class="col-md-8">
        <ul class="nav navbar-nav" id="normal-title">
            <li>
                <a href="/" style="padding-bottom: 0px; padding-top: 0px;">
                    <h2 id="title" class="ml-20 bold">InterMine Datasets</h2>
                </a>
            </li>
            <li>
                <div>
                    <p id="title-desc" class="vertical-align-middle align-center mt-30"> All InterMine datasets and its datasources.</p>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav" id="responsive-title">
            <li>
                <a href="/" style="padding-bottom: 0px; padding-top: 0px;">
                    <h2 id="title" class="ml-20 bold">InterMine Datasets</h2>
                </a>
            </li>
            <li>
                <div>
                    <p id="title-desc" class="vertical-align-middle align-center mt-30">All InterMine datasets and its datasources.</p>
                </div>
            </li>
        </ul>
    </div>
</nav>
